body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #6200ee;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    margin-top: 1rem;
}

nav button {
    background-color: #03dac6;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

nav button:hover {
    background-color: #018786;
}

main {
    padding: 2rem;
    text-align: center;
   }